{% extends 'sidebar/sidebar.html' %}
{% block item %}
{% load static %}
{% load crispy_forms_tags %}
<style type="text/css">
	label {
		color: #001D6E;
	}

	.title-bg {
		background-color: #7FB5FF;
	}

</style>
<h6 class="title-bg p-2 shadow-sm" style="color: white;">Register Students</h6>
<div class="container">
    	{% if messages %}
    	{% for message in messages %}
    		<div class="alert alert-{{message.tags}}">{{message}}</div>
    	{% endfor %}
    	{% endif %}
    </div>
<form method="POST" class="col-md-8 col-lg-8 m-2 ">
	{% csrf_token %}
	<div class="mb-1">
	    <label for="exampleInputEmail1" class="form-label">Last Name</label>
	    {{form.last_name}}
	</div>

	<div class="mb-1">
	    <label for="exampleInputEmail1" class="form-label">First Name</label>
	    {{form.first_name}}
	</div>

	<div class="mb-1">
	    <label for="exampleInputEmail1" class="form-label">Middle Name</label>
	    {{form.middle_name}}
	</div>

	<div class="mb-1">
	    <label for="exampleInputEmail1" class="form-label">LRN</label>
	    {{form.lrn}}
	</div>

	<div class="mb-1">
	    <label for="exampleInputEmail1" class="form-label">Grade Level</label>
	    {{form.grade_level}}
	</div>

	<div class="mb-1">
	    <label for="exampleInputEmail1" class="form-label">Section</label>
	    {{form.section}}
	</div>
	<button class="btn btn-outline-success mt-2 mb-2 float-end" type="submit">Register Student</button>
</form>

{% endblock item %}