{% extends 'sidebar/sidebar.html' %}
{% block item %}
{% load static %}
{% load crispy_forms_tags %}
<style type="text/css">
	label {
		color: #001D6E;
	}

	.title-bg {
		background-color: #7FB5FF;
	}

</style>
<h6 class="title-bg p-2 shadow-sm" style="color: white;">House Rules</h6>
<div class="container">
    	{% if messages %}
    	{% for message in messages %}
    		<div class="alert alert-{{message.tags}}">{{message}}</div>
    	{% endfor %}
    	{% endif %}
    	</div>
<div class="row">
	<div class="col-md-7 col-lg-7">
		<table class="table table-hover">
			<thead>
				<th>House Rules</th>
				<th>Fines</th>
				<th>Action</th>
			</thead>

			{% for i in h%}
			<tr>
				<td>{{i.rule}}</td>
				<td>{{i.fine}}</td>
				<td><a href="{% url 'update-house-rules' user.id i.pk%}" style="color:green;">Edit</a> | <a href="{% url 'delete-house-rules' user.id i.pk%}" style="color:red;">Delete</a></td>
			</tr>
			{% endfor %}
		</table>
	</div>

	<div class="col-md-5 col-lg-5">
		<h6 class="title-bg p-2 shadow-sm" style="color: white;">Add House Rules</h6>
		<form method="POST">
		  {% csrf_token %}
		  {{form}}
		   <div class="btn-group float-end mt-3" role="group" aria-label="Basic example">
			  <button type="submit" class="btn btn-primary">Submit</button>
			  <button type="button" class="btn btn-danger"><a class="text-decoration-none" style="color:white;" href="{% url 'house-rules' user.id %}">Cancel</button>
			</div>
		</form>
			</div>
</div>


{% endblock item %}