{% extends 'sidebar/sidebar.html' %}
{% block item %}
{% load static %}
{% load crispy_forms_tags %}
<style type="text/css">
	label {
		color: #001D6E;
	}

	.title-bg {
		background-color: #7FB5FF;
	}

</style>
<h6 class="title-bg p-2 shadow-sm" style="color: white;">Jobs</h6>
<div class="container">
    	{% if messages %}
    	{% for message in messages %}
    		<div class="alert alert-{{message.tags}}">{{message}}</div>
    	{% endfor %}
    	{% endif %}
    	</div>
<div class="row">
	<div class="col-md-8 col-lg-8">
		<table class="table table-hover">
			<thead>
				<th>JOBS</th>
				<th>Suggested for Class</th>
				<th>Job Description</th>
				<th>Student Assigned</th>
				<th>Salary</th>
				<th>Action</th>
			</thead>

			{% for i in j %}
			<tr>
				<td>{{i.job}}</td>
				<td>{{i.suggested_per_class}}</td>
				<td>{{i.job_description}}</td>
				<td>{{i.student_assigned.name}}</td>
				<td>{{i.salary}}</td>
				<td><a href="{% url 'update-jobs' user.id i.id %}" style="color:green;">Edit</a> | <a href="{% url 'delete-jobs' user.id i.id %}" style="color:red;">Delete</a></td>
			</tr>
			{% endfor %}
		</table>
	</div>

	<div class="col-md-4 col-lg-4">
		<h6 class="title-bg p-2 shadow-sm" style="color: white;">Add Jobs</h6>
		<form method="POST">
		  {% csrf_token %}

		   {{form}}

		  <div class="btn-group float-end mt-3" role="group" aria-label="Basic example">
			  <button type="submit" class="btn btn-primary">Submit</button>
			  <button type="button" class="btn btn-danger"><a class="text-decoration-none" style="color:white;" href="{% url 'jobs' user.id %}">Cancel</button>
			</div>
		  
		</form>
			</div>
</div>


{% endblock item %}