{% load static %}
{% load crispy_forms_tags %}
<!-- Button trigger modal -->
<a class="nav-link" data-bs-toggle="modal" data-bs-target="#teacherRegistrationModal">
  Register
</a>

<!-- Modal -->
<div class="modal fade" id="teacherRegistrationModal" tabindex="-1" aria-labelledby="teacherRegistrationModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <img class="img-fluid me-3" src="{% static 'logo/teacher_logo.png' %}" alt="teacher" style="width:50px; height:auto;">
        <h5 class="modal-title" id="teacherRegistrationModalLabel">Teacher's Create Account</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       <div id="carouselTeacher" class="carousel slide" data-bs-interval="false" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <form method="POST">
                {% csrf_token %}
                {{form|crispy}}
              </form>
              <button class="btn btn-primary float-end" type="button" data-bs-target="#carouselTeacher" data-bs-slide="next">Next</button>
            </div>

            <div class="carousel-item">
              <h1>Hakdog2</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        
      </div>
    </div>
  </div>
</div>


