{% extends 'sidebar/sidebar.html' %}
{% block item %}
{% load static %}
{% load crispy_forms_tags %}
<style type="text/css">
	label {
		color: #001D6E;
	}

	.title-bg {
		background-color: #7FB5FF;
	}

</style>
<h6 class="title-bg p-2 shadow-sm" style="color: white;">Rent</h6>
<div class="container">
    	{% if messages %}
    	{% for message in messages %}
    		<div class="alert alert-{{message.tags}}">{{message}}</div>
    	{% endfor %}
    	{% endif %}
    	</div>
<form method="POST" class="col-md-6 col-lg-6 m-2">
	{% csrf_token %}
	<div class="mb-3">
	    <label for="exampleInputEmail1" class="form-label">Start Date:</label>
	    {{form.sdate}}
	</div>

	<div class="mb-3">
	    <label for="exampleInputEmail1" class="form-label">End Date:</label>
	    {{form.edate}}
	</div>

	<div class="mb-3">
	    <label for="exampleInputEmail1" class="form-label">Posting:</label>
	    {{form.posting}}
	</div>

	<div class="mb-3">
	    <label for="exampleInputEmail1" class="form-label">Amount:</label>
	    {{form.amount}}
	</div>
	<div class="btn-group float-end mt-3" role="group" aria-label="Basic example">
			  <button type="submit" class="btn btn-primary">Submit</button>
			  <button type="button" class="btn btn-danger"><a class="text-decoration-none" style="color:white;" href="{% url 'rent' user.id %}">Cancel</button>
			</div>
</form>

{% endblock item %}