{% extends "sidebar/sidebar.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block item %}
<style type="text/css">
	label {
		color: #001D6E;
	}

	.title-bg {
		background-color: #7FB5FF;
	}

</style>
<h6 class="title-bg p-2 shadow-sm" style="color: white;">School Settings</h6>
<div class="container-fluid m-3 col-md-8 col-lg-8">
	<form method='POST' accept="", enctype="multipart/form-data">
		{% csrf_token %}
		<div class="mb-3">
	    <label for="exampleInputEmail1" class="form-label">School Name</label>
	    {{form.school_name}}
		</div>
		<img class="img-fluid" src="{{request.user.teacher.school_logo.url}}" alt="School Logo" style="width:auto; height:150px;">

		<div class="mb-3 mt-3">
	    {{form.school_logo}}
		</div>
		<div class="btn-group float-end mt-3" role="group" aria-label="Basic example">
			  <button type="submit" class="btn btn-primary">Submit</button>
			</div>
	</form>

	
	
	
</div>
{% endblock item %}