{% extends 'sidebar/sidebar.html' %}
{% load static %}
{% block item %}
<style type="text/css">
	label {
		color: #001D6E;
	}

	.title-bg {
		background-color: #7FB5FF;
	}

</style>
<h6 class="title-bg p-2 shadow-sm" style="color: white;">Economy</h6>

<div class="container">
    	{% if messages %}
    	{% for message in messages %}
    		<div class="alert alert-{{message.tags}}">{{message}}</div>
    	{% endfor %}
    	{% endif %}
 </div>
 <div class="row p-3">
 	<div class="col-md-8 col-lg-8">
 		<label for="exampleInputEmail1" class="form-label">Class</label>
 		{% include 'economy/economy-accordion.html' %}
	</div>


 
<div class="container col-md-4 col-lg-4">
<form method="POST">
	{% csrf_token %}

	<div class="mb-1">
	    <label for="exampleInputEmail1" class="form-label">Teacher's</label>
	    {{form.teacher}}
	</div>

	<div class="mb-1 card p-2">
	    <label for="exampleInputEmail1" class="form-label">Student's</label>
	    {{form.student}}
	</div>
	<button class="btn btn-primary float-end" type="submit">Submit</button>
</form>

</div>

</div>

{% endblock item %}


