{% extends 'sidebar/sidebar.html' %}
{% block item %}
{% load static %}
{% load crispy_forms_tags %}
<style type="text/css">
	label {
		color: #001D6E;
	}

	.title-bg {
		background-color: #7FB5FF;
	}

</style>
<h6 class="title-bg p-2 shadow-sm" style="color: white;">Are you sure you wan't to delete <span style="color:red;">{{opportunities.activity}}</span> ?</h6>
<form action="{% url 'delete-opportunities' user.id opportunities.id %}" method="POST">
	{% csrf_token %}
	<div class="btn-group float-end mt-3" role="group" aria-label="Basic example">
			  <button type="submit" class="btn btn-primary">Delete</button>
			  <button type="button" class="btn btn-danger"><a class="text-decoration-none" style="color:white;" href="{% url 'opportunities' user.id %}">Cancel</button>
			</div>
</form>
{% endblock item %}
