{% extends 'sidebar/sidebar.html' %}
{% block item %}
{% load static %}
{% load crispy_forms_tags %}
<style type="text/css">
	label {
		color: #001D6E;
	}

	.title-bg {
		background-color: #7FB5FF;
	}

</style>
<h6 class="title-bg p-2 shadow-sm" style="color: white;">Update {{opportunities.activity}}</h6>
	<div class="col-md-8 col-lg-8">
		<form method="POST">
			{% csrf_token %}
			{{form}}
			<div class="btn-group float-end mt-3" role="group" aria-label="Basic example">
			  <button type="submit" class="btn btn-primary">Update</button>
			  <button type="button" class="btn btn-danger"><a class="text-decoration-none" style="color:white;" href="{% url 'opportunities' user.id %}">Cancel</button>
			</div>
		</form>
	</div>
</div>


{% endblock item %}